In [ ]:
#import packages 
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("Kdata.csv")
data.head()

   X1  X2  Y(Class)
0   2   4  Negative
1   4   2  Negative
2   4   4  Positive
3   4   6  Negative
4   6   2  Positive

In [ ]:
X=data.iloc[:,:-1].values
Y=data.iloc[:,2].values
print(X)
print(Y)

[[2 4]
 [4 2]
 [4 4]
 [4 6]
 [6 2]
 [6 4]]
['Negative' 'Negative' 'Positive' 'Negative' 'Positive' 'Negative']

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=3)
classifier.fit(X,Y)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
X_test=np.array([6,6])
Y_pred=classifier.predict([X_test])
print ('General KNN:',Y_pred )
classifier=KNeighborsClassifier(n_neighbors=3,weights='distance')
classifier.fit(X,Y)

General KNN: ['Negative']

KNeighborsClassifier(n_neighbors=3, weights='distance')